<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationBasic</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/material-design-lite/material.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">

        <link rel="stylesheet" href="~/lib/material-design-lite/material.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <script src="~/lib/material-design-lite/material.js" type="text/javascript"></script>
</head>
<body>
    <navigation fixed-header="true">

        <navigation-header>
            <navigation-header-row>
                <navigation-title>@ViewData["Title"]</navigation-title>
                <navigation-spacer></navigation-spacer>
                <navigation-link-list>
                    <navigation-link-list-item href="#bla"><button raised="true" ripple="true" accent="true"><icon>more</icon></button></navigation-link-list-item>
                </navigation-link-list>
            </navigation-header-row>
            <navigation-header-tab-bar>
                <navigation-header-tab-bar-item href="#tab1" active="true">Badges</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab2">Buttons</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab3">Cards</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab4">Chips</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab5">Dialogs</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab6">Lists</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab7">Loading</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab8">Menu</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab9">Sliders</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab10">Snackbar</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab11">Toggles</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab12">Tables</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab13">Text Fields</navigation-header-tab-bar-item>
                <navigation-header-tab-bar-item href="#tab14">Tooltips</navigation-header-tab-bar-item>
            </navigation-header-tab-bar>
        </navigation-header>
        <navigation-drawer>
            <navigation-header>
                <navigation-header-row>
                    <navigation-title>@ViewData["Title"]</navigation-title>
                </navigation-header-row>
            </navigation-header>
            <navigation-link-list>
                <navigation-link-list-item href="/test"></navigation-link-list-item>
            </navigation-link-list>

        </navigation-drawer>
        <navigation-main>
            @RenderBody()
        </navigation-main>
    </navigation>

    <environment names="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
